<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".PostDetail"
            android:exported="false"
            android:label="@string/title_activity_post_detail"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".EditPage"
            android:exported="false" />
        <activity
            android:name=".CommentPage"
            android:exported="false" />
        <activity
            android:name=".Follower"
            android:exported="false" />
        <activity
            android:name=".activity_following"
            android:exported="false" />
        <activity
            android:name=".activity_posting"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".Home" />
    </application>

</manifest>